## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [2]:
# your code here
upper_words = [word.upper() for word in words]
print(upper_words)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [4]:
# your code here
more_than_5 = [word for word in words if len(word) >= 5]
print(more_than_5)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [5]:
# your code here
t_starting_words = [word for word in words if word[0] == 't']
print(t_starting_words)

['theatre', 'that']

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [15]:
# your code here
square_of_numbers = [x**2 for x in range(1, 11)]
print(square_of_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [7]:
# your code here
odd_square_numbers = [x**2 for x in range(1, 11) if x % 2 != 0]
print(odd_square_numbers)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [18]:
# your code here
multiples_8_below_100 = [x for x in range(1, 1001) if x % 8 == 0]
print(multiples_8_below_100)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992, 1000]

## People

In [9]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [11]:
# your code here
count = 0
for person in people:
    count += 1

print("Number of people:", count)

Number of people: 5

**How many people have kids**?

In [12]:
# your code here
people_with_kids = 0
for person in people:
    if person['n_kids'] > 0:
        people_with_kids += 1
print("Number of people with kids:", people_with_kids)

Number of people with kids: 4

**How many kids do they have in total?**

In [13]:
# your code here
total_kids = 0
for person in people:
    total_kids += person['n_kids']
print("Total number of kids:", total_kids)

Total number of kids: 10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [14]:
# your code here
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]


updated_people = []
for person in people:
    updated_person = person.copy()
    if updated_person["name"].endswith("a"):
        updated_person["n_kids"] += 1
    updated_people.append(updated_person)

print(updated_people)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]